/* General */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-ligh-organge: #F9EFED;
    --text-input-field: #F4F4F4;
    --orange: #E84926;
    --gray-dark: #929191;
    --gray-ligh: #BCBCBB;
    --sm: 8px;
    --md: 12px;
    --lg: 16px;
    --xl: 20px;
    --xxl: 24px;
    --XXXl: 44px;
    --letterspa_big: 3.98px;
    --letterspa_md: 3.6px;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir_LT_35_Light_Regular.ttf');
}


body {
    font-family: 'Avenir-Light';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.inactive {
    display: none;
}

/* Navbar (general) */
nav {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    height: auto;
}

nav .nav-logo-container {
    width: 40px;
    height: 40px;
    margin-left: 50px;
    display: grid;
    align-items: center;
   
}

nav .nav-botton-container {
    display: flex;
    place-content: center;
    
}


nav .nav-logos-inv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.logo-gdartia-big {
    width: 90px;
    height: 90px;
}

.shopping-car {
    width: 20px;
    height: 20px;
}

.botton-nav {
    background-color: white;
    border: none;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    margin: 0;
    padding: 0;
    width: 160px;
   
}

.name-menus-nav {
    display: flex;
    justify-content: center;
    border-left: 1px solid var(--gray-dark);
    border-right: 1px solid var(--gray-dark);
    margin-bottom: 4px;
}

.botton-nav a {
    font-size: var(--md);
    letter-spacing: var(--letterspa_big);
    text-decoration: none;
    display: inline;
    color: var(--orange);
}

.arrow_nav {
    width: 9px;
    height: 9px;
    color: var(--orange);
    /* no funciona el color */
}

.barra-vertical-botton {
    width: 30px;
    height:15px;
}

.identificador-hover-container {
    display: grid;
    height:15px;

}
.identificador-hover-container img {
    width: max-content;
}

/* main */

.home-main {
    position: relative;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    background-image: url('../img/bg-main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    place-content: center
    ;
  }
 .home-title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    text-align: center;
 }
 .section-main-one {
    border-right: 1px solid var(--gray-ligh);
    padding-right: 20px;
 }
 .section-main-two {

    border-left: 1px solid var(--gray-ligh);
    padding-left: 20px;
 }


.home-title-container :nth-child(1) h1{

    font-size: var(--xxl);
    color: var(--orange);
    letter-spacing: var(--letterspa_md);
 }
 .home-title-container :nth-child(1) h3{
   
    font-size: var(--lg);
    color: var(--orange);
    letter-spacing: var(--letterspa_md);
 }

 .home-title-container :nth-child(2) h1{
   
    font-size: var(--xxl);
    color: var(--gray-dark);
    letter-spacing: var(--letterspa_md);
 }
 .home-title-container :nth-child(2) h3{
    
    font-size: var(--lg);
    color: var(--gray-ligh);
    letter-spacing: var(--letterspa_md);
    
 }


main .home-services-container{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
  

}

.paralelogramo-orange {
    display: grid;
    place-content: center;
    position: absolute;
    width: 1200px; /* Ancho del rectángulo */
    height: 100%; /* Alto del rectángulo */
    background-color: var(--orange); /* Color de fondo */
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%, 0% 0%);
    left: -850px;
}

.paralelogramo-orange a {
    font-size: var(--XXXl);
    text-decoration: none;
    color: var(--very-ligh-organge);
    
}

.paralelogramo-gray {
    display: grid;
    place-content: center;
    position: absolute;
    width: 1200px; /* Ancho del rectángulo */
    height: 100%; /* Alto del rectángulo */
    background-color: var(--gray-dark); /* Color de fondo */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 20% 100%);
    left: 100px;

}

.paralelogramo-gray a {
    font-size: var(--XXXl);
    text-decoration: none;
    color: var(--very-ligh-organge);
    
}

main .home-tienda-container {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    place-content: center;
    text-align: center;
    padding-bottom: 30px;

}
.home-tienda-container h1 {
    font-size: var(--xxl);
    color: var(--gray-dark);
    letter-spacing: var(--letterspa_md);
}

.home-tienda-container h4 {
    font-size: var(--lg);
    color: var(--gray-dark);
    letter-spacing: var(--letterspa_md);

}
.home-tienda-container :nth-child(3) img {
    width: 30%;
    height: 20%;
    transform: rotate(180deg);
}

.home-tienda-container-topproductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.home-tienda-container-topproductos div {
    width: 100%;
    height: 300px;

}


